.vscode/
__pycache__/
__pycache__/Render_Dep.cpython-39.pyc
__pycache__/Render_Tex.cpython-39.pyc
__pycache__/Texture.cpython-39.pyc
__pycache__/Map.cpython-39.pyc
__pycache__/RayCast.cpython-39.pyc
__pycache__/Render_Dep.cpython-39.pyc
__pycache__/Render_Tex.cpython-39.pyc
__pycache__/Sampler.cpython-39.pyc
__pycache__/Screen.cpython-39.pyc
__pycache__/Texture.cpython-39.pyc
